.gradle

/gradle/

### IntelliJ IDEA ###
*.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
settings.gradle
gradlew.bat
*.properties
\gradlew
gradlew

### Mac OS ###
.DS_Store

*.log
*.png